.card{
    padding: 10px  ;
    margin: 0px 16px 16px 16px;
}
.confirm>button{
    background:rgb(110, 110, 216);
    color: fff;
    padding: 10px;
    margin-left: -20px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px white;
    box-shadow:  5px 10px 18px #888888;
      
}

.confirm>input{
    margin-left: -28px;
    position: relative;
    overflow: hidden;
    padding: 6px 70px 42px;
    position: relative;
    box-shadow:  5px 10px 18px #888888;
}
.confirm>button:hover{
    background:fade(#5aac44,0.25);
    cursor: pointer;
}
.confirm{
    margin: 0px 16px 16px 16px;
    

}