.App {
  text-align: center;
}

.img {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  color: white;
  background: url("https://picsum.photos/200/300") no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}